
.about{
	width: 600px;
	height: 200px;
	padding: 20px;
	border-radius: 4px;
	color: #fff;
	transition: all .5s;
	background: #abcdef url(../../assets/img/test.png) no-repeat;
	box-shadow: 1px 1px 1px #ccc;
}
.about:hover{
	transform: scale(1.2);
}
