.dhb-home{
	margin: -14px -16px -28px;
	color: #000;
	background-color: #f0f0f0;
}
.home-header{
	display: table;
	width: 100%;
	height: 110px;
	table-layout: fixed;
	padding: 0 20px 0 16px;
	margin-bottom: 16px;
	background-color: #fff;
}
.hearder-account > div:nth-child(1){
	font-size: 24px;
	line-height: 33px;
}

.home-header > div{
	display: table-cell;
	vertical-align: middle;
	line-height: 36px;
}
.home-header > div:nth-child(2){
	width: 352px;
}
.home-header button, .home-header a{
	float: right;
	margin-left: 10px;
	margin-top: 3px;
}
.home-header .anticon-exclamation-circle{
	margin: 0 8px;
	color: #faad14;
}
.home-left{
    margin-right: 388px; 
}
.home-right{
	float: right;
    width: 372px;
} 
.home-right > div, .home-left > div{
	margin-bottom: 16px;
	background-color: #fff;
	font-size: 0;
}
.home-right > div:last-child, .home-left > div:last-child{
	margin-bottom: 0;
}
.home-nav-item, .home-preview{
	display: inline-block;
	height: 120px;
	overflow: hidden;
	border-left: 1px solid #f0f0f0;
	cursor: pointer;
	transition: all 0.1s;
}
.home-nav-item{
	width: 25%;
	padding: 30px 16px;
}
.home-preview{
	width: 50%;
	padding: 10px 12px;
}
.home-preview > div, .home-nav-item > div{
	overflow: hidden;
}
.home-preview > div{
	margin-top: 20px;
}
.home-nav-item:hover, .home-preview:hover{
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.16);
}
.home-nav-item:first-chld, .home-preview:first-child{
	border-left: none;
}
.home-nav-icon, .home-preview-icon{
	float: left;
	margin-right: 10px;
	background: url(../../assets/img/icon.png) no-repeat 0 -142px;
}
.home-nav-icon{
	width: 60px;
	height: 60px;
}
.home-preview-icon{
	width: 54px;
	height: 54px;
	margin-right: 10px;
}
.home-preview:nth-child(1) > .home-preview-icon{
	background-position: -280px -144px;
}
.home-preview:nth-child(2) > .home-preview-icon{
	background-position: -338px -142px;
}
.home-nav-item:nth-child(2) > .home-nav-icon{
	background-position: -70px -142px;
}
.home-nav-item:nth-child(3) > .home-nav-icon{
	background-position: -140px -142px;
}
.home-nav-item:nth-child(4) > .home-nav-icon{
	background-position: -210px -142px;
}
.home-code{
	width: 100px;
	margin-top: 35px;
}
.home-preview:nth-child(2) > div:nth-child(2){
	transition: all .6s;
}
.home-preview:nth-child(2):hover > div:nth-child(2){
	transform: translate(0, -108px);
}
.home-nav-title{
	display: block;
	margin: 6px 0 4px;
	font-size: 16px;
	color: #000;
}
.home-nav-title + span{
	font-size: 13px;
	color: #999;
}

.home-block-title{
	height: 48px;
	padding: 0 16px;
	line-height: 48px;
	border-bottom: 1px solid #e8e8e8;
	font-size: 16px;
	color: #000;
}

.home-block-title > a{
	float: right;
}
.dhb-notice{
	height: 320px;
	padding: 5px 0;
	font-size: 13px;
}
.dhb-notice-item{
	overflow: hidden;
	height: 62px;
	padding: 6px 16px;
	cursor: pointer;
}
.dhb-notice-item > div:first-child{
	margin: 4px;
}
.home-download{
	overflow: hidden;
	height: 142px;
	padding: 20px 16px;
	font-size: 13px;
}
.home-download > div{
	display: inline-block;
	width: 33.3333%;
	text-align: center;
	cursor: pointer;
	transition: all .6s;
}
.home-download > div:hover{
	transform: translate(0, -132px);
}
.download-icon{
	width: 72px;
	height: 72px;
	padding-top: 16px;
	margin-left: 21px;
	margin-bottom: 11px;
	font-size: 30px;
	border-radius: 50%;
	background-color: #f2f2f2;
}
.home-register{
	height: 146px;
	padding: 16px 16px 20px;
	font-size: 13px;
}
.home-register > div{
	margin-bottom: 20px;
}

.home-register input{
	width: 205px;
	margin: 0 12px;
}

.home-pending{
	display: inline-block;
	width: 16.666%;
	height: 100px;
	padding: 10px 16px;
}
.home-pending:nth-child(4){
	border-right: 1px solid #f0f0f0;
}
.home-pending:hover{
	background-color: #f3f3f3;
}
.home-pending > a{
	display: block;
}
.home-pending > a > div:nth-child(1){
	font-size: 13px;
	color: #999999;
	line-height: 36px;
}
.home-pending > a > div:nth-child(2){
	height: 45px;
	font-size: 32px;
	color: #000;
}
.home-achievement{
	display: inline-block;
	width: 25%;
	height: 156px;
	padding: 26px 16px;
	font-size: 14px;
}
.home-achievement > span{
	display: block;
}
.home-achievement:nth-child(odd) > span:nth-child(2){
	margin: 7px 0;
	font-size: 32px;
}
.home-achievement:nth-child(even) > span:nth-child(2){
	margin: 15.5px 0;
	font-size: 20px;
}
.home-achievement:nth-child(3){
	border-left: 1px solid #f0f0f0;
}
.home-achievement .anticon{
	margin: 0 10px;
}

.home-chart{
	height: 352px;
}

.help-tab .ant-tabs-tab{
	margin: 0 70px 0 0;
}